.box {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.layout{
  color:#999;
  height: 100%;
}

.content-wrapper {
  min-height: 100vh !important;
}

.header {
  padding: 0 !important;
  width: 100%;
}

.content {
  padding-top: 0;
  margin: 24px;
}